* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 로딩 플러그인 */
.queryloader__overlay {
				position: relative;
}
.queryloader__overlay::after {
	content: '';
	background-image: url(img/spinner.gif);
	position: absolute;
	background-size: 100%;
	width: 231px;
	height: 231px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.queryloader__overlay__bar {
	z-index: 99999;
	/*display: none;*/
}
.queryloader__overlay__percentage {
	z-index: 99999;
	font-size: 1vw !important;
}

nav#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	width: 100%;
	z-index: 111;
	position: absolute;
}
nav#navbar a {
	text-decoration: none;
	color: 	white;
	padding: 10px;
}

/*toggle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844226_960_720.png);
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  box-shadow: rgb(255 255 255 / 35%) 0px 1px 2px 0px, rgb(255 255 255 / 35%) 0px 2px 6px 2px;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider-round {
  background: url(https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844227_960_720.png);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* 별 효과 */
.stars {
 background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}


/* 메인페이지 물결효과 */
section#header {
	/*background: linear-gradient(180deg, rgba(67,17,117,1) 0%, rgba(125,189,252,1) 75%, rgba(255,213,231,1) 100%);*/
	background: linear-gradient(180deg, rgba(191,224,255,1) 0%, rgba(255,238,207,1) 37%, rgba(255,200,200,1) 100%);
	position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url(https://i.postimg.cc/YqcvK11W/wave.png);
    background-size: 1000px 150px;
}
section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;

}
section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
    
}
section .wave.wave3{
    animation: animate3 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: 2s;
    bottom: 15px;
    
}
section .wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 10px;

}
@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}

.container {
	width: 80%;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 	50px;
	padding: 20px;
}
#header .profile {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
}
#header .profile img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	z-index: 1;
}
#header .profile div {
	z-index: 1;
}

/* HELLO 효과
.profile {
  position: relative;
}

.profile h1 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.profile h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #6a6a6a
}

.profile h1:nth-child(2) {
  color: #6a6a6a;
  animation: animate3 4s ease-in-out infinite;
}

@keyframes animate3 {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
} */


ul {
	list-style: none;
	margin: 10px;
}

section:not(#header) {
	padding-top: 20px;
	padding-bottom: 20px;
}
section#aboutme .container > div, section#skill .container > div{
	display: flex;
	justify-content: center;
}

section#skill img {
	width: 	100px;
	height: 100px;
}

section#projects .box {
	border-radius: 10px;
	max-width: 950px;
	height: 500px;
	margin: 0 auto;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0) 0px 3px 7px -3px;
	margin-bottom: 	30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
}
section#projects .box:hover {
	transform: scale(1.01);
}

.swiper { 
	width: 315px;
    height: 480px; 
    margin: initial!important;
} 
.swiper-slide img{
	display: block;
	max-width: 100%;
	height:auto;
}
/* .swiper-button-next {
  background: url(https://cdn-icons-png.flaticon.com/512/318/318275.png) no-repeat;
  background-size: 70% auto;
  background-position: center;
}
.swiper-button-prev {
  background: url(https://cdn-icons-png.flaticon.com/512/318/318276.png) no-repeat;
  background-size: 70% auto;
  background-position: center;
} */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-pagination-bullet-active {
	background: darkgray!important;
}

.box > div:nth-of-type(2) li {
	padding: 10px;
}
.box h2 {
	padding: 10px;
}